[run]
omit =
    setup.py
    pypel/utils/elk/clean_index.py
    pypel/utils/elk/init_index.py
branch = true
[report]
fail_under = 90.0
exclude_lines =
    pragma: no cover
    @overload
show_missing = true
[html]
directory = tests/reports/coverage/
show_contexts = true
